body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("pic1.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    .navbar {
    background-color: #3c1b25;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom:400px;
    margin-right: 100px;
    width: 100%;
    
    }
    .navbar-left {
    display: flex;
    align-items: center;
    }
    .logo {
    height: 80px;
    margin-right: 20px;
    }
    .animated-text {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    animation: textAnimation 2s infinite;
    }
    .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ceeacc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    }
    .left-column, .right-column {
    flex: 1;
    padding: 20px;
    }
    .form-group {
    margin-bottom: 20px;
    }
    label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    }
    input[type="text"], select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 15px;
    background-color: #f2f2f2;
    font-size: 14px;
    }
    .radio-buttons label {
    margin-right: 10px;
    }
    .submit-button {
    background: linear-gradient(to right, #4CAF50, #00bcd4, #e91e63);
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    }
    .submit-button:hover {
    background: linear-gradient(to left, #4CAF50, #00bcd4, #e91e63);
    }
    @keyframes textAnimation {
    0% {
    text-shadow: 0 0 10px #ff0000;
    }
    25% {
    text-shadow: 0 0 10px #00ff00;
    }
    50% {
    text-shadow: 0 0 10px #0000ff;
    }
    75% {
    text-shadow: 0 0 10px #ffff00;
    }
}